.error {
  background-color: tomato;
  color: white;
  border-radius: 6px;
  padding: 6px 12px;
  font-weight: bold;
  max-width: 400px;
  margin-bottom: 18px;
}

.message-bottom {
  text-align: center;
  align-self: center;
  margin: 0 auto;
  width: 100%;
}
